.card-principal{
    margin: 5% 20% 5% 20%;
    min-height: 70%;
}

.descripcion-cat{
    text-align: center;
    margin: 3%;
}

.titulo-cat{
    text-align: center;
    margin: 2%;
}

.notificacion_status{
    margin: 10% 20% 10% 20%;
    text-align: center;
    color: white;
    font-weight: 600;
}

.background_verde {
    /*background-color: #7DCEA0;*/
    background-color: green;
}

.background_ambar {
    background-color: #e0b505;
}

.background_rojo {
    background-color: red;
}