
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
        {{initS.nombre_servicio}}
        </mat-panel-title>
        <mat-panel-description>
            <div fxLayout="row" fxLayoutAlign="space-around" class="lista-servicios"  fxFlexAlign="center" fxFill>
                <p></p>
                <p *ngIf="initS.system_status != 'green'" style="margin-top: 3%;">descripcion de la incidencia</p>
                <div style="margin-top: 3%;" [ngClass]="
                {'circulo-verde' : initS.system_status === 'green',
                'circulo-ambar' : initS.system_status === 'yellow',
                'circulo-rojo' : initS.system_status === 'red'}" ></div>
                <button mat-stroked-button (click)="abrirModalSuscrito()">Suscribirse</button>
            </div>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{initS.descripcion}}</p>
    </mat-expansion-panel>